.wrapper {
  /* padding-top: 20px; */
  background: rgb(138, 151, 163);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px; 
 
  /* padding-left: 150px;
  padding-right: 150px; */
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}